body {
	text-align: center;
	margin: 0px;
	max-width: 100%;
}

/*---Mobile---*/
@media screen and (max-device-width:720px){
	img{
		width: 100%;
	}
	body {
		background-color: red;
		text-align: center;
	}
}
