@media screen and (min-width: 400px) {
	body {
		max-width: 100%;
		background-color: blue;
	}
}

@media screen and (max-width: 400px) {
	img {
		width: 10px;
	}
	body {
		background-color: green;
	}
}
